/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
}


*, *::after, *::before {
    box-sizing: border-box;
}

body{
    font-family:Times, Helvetica, sans-serif;
}

.wrap-white{
    display: flex;
    justify-content: center;    
}

.wrap-container{
    width: 940px;
    margin-top: 30px;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
}


.site-list{
    display: flex;
    align-items: center;
}

.logo a{
    display: block;
    width: 215.1px;
}


.home a, .dessert a, .login a{
    display: block;
    line-height: 22px;
    display: block;
    text-decoration: none;
    color: #3F5D45;
}

.home a:hover, .dessert a:hover, .login a:hover{
    border-bottom: 1px solid #3F5D45;
}

.product{
    display: flex;
}

.dessert-type{
    width: 300px;
    background: #3F5D45;
    color: #FFF;
    font-size: 24px;
    line-height: 65px;
    text-align: center;
}



.dessert-type a{
    display: block;
    line-height: 65px;
    text-decoration: none;
    color: #3F5D45;
    background: #FFF;
    border: 1px solid #EAF0ED;
    border-top: 1px solid #FFF;

}

.active a, .dessert-type a:hover{
    background: #EAF0ED;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
}

.item{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}

.item span{
    width: 36px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: #3f5d45;
    color: #eaf0ed;
}

.fav{
    position: absolute;
    top: 19px;
    right: 22px;
}

.price{
    display: flex;
    justify-content: space-between;
}

.product-name{
    width: 173px;
    font-size: 20px;
    color: #3F5D45;
    line-height: 20px;
    padding-left: 33px;
    padding: 13px 33px;
    border: 1px solid #EAF0ED;
    border-top: 1px solid #FFFFFF;
}

.product-price{
    width: 127px;
    font-size: 20px;
    color: #3F5D45;
    line-height: 20px;
    padding-right: 20px;
    padding-left: 25px;
    padding-top: 13px;
    border: 1px solid #EAF0ED;
    border-top: 1px solid #FFFFFF;    
}
.add-cart{
    text-decoration: none;
    color: #3F5D45;
    display: block;
    text-align: center;
    background: #EAF0ED;
    line-height: 65px;
    font-size: 24px;
}

.pages{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.page a{
    text-decoration: none;
    color: #3F5D45;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.page1 a{
    text-decoration: none;
    color: #FFF;
    background: #3F5D45;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}


.prev-page, .next-page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-page a, .next-page a{
    display: block;
    width: 60px;
    height: 60px;
    padding: 18px;
}


.pages a:hover{
    color: #FFF;
    background: #3F5D45;
    border: 1px solid #3F5D45;
}

.prev-page a:hover, .next-page a:hover{
    background: #FFF;
    border: 1px solid #3F5D45;
}

.subscribe{
    background: #3F5D45;
    display: flex;
    justify-content: center;
}

.subscribe-container{
    display: flex;
    width: 1024px;   
    padding: 30px 122px;
    justify-content: space-between;
    align-items: center;
}


.subscribe-icon{
    display: flex;
    align-items: center;
}
.light-logo{
    width: 40px;
}

.subscribe span{
    margin-left: 20px;
    color: #FFF;
    line-height: 33px;
}

.email{
    height: 56px;
    background: #FFF;
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.mail-icon{
    width: 64px;
    padding: 16px 20px;
}

.foward{
    display: block;
    width: 64px;
}

.foward-icon{
    background: #FFE180;
    padding: 20px 24px;
}

.footer{
    background: #EAF0ED;
    display: flex;
    justify-content: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 1024px;
}

.footer-left{
    margin-left: 172px;
}

.footer-logo img{
    margin-top: 38.9px;
    width: 171.22px;
}

.footer-left p{
    margin-top: 115.5px;
    line-height: 24px;
}

.footer-left p a{
    text-decoration: none;
    line-height: 24px;
    color: #3F5D45;
}

.footer-left p a:hover{
    color: darkseagreen;
}
.info img{
    width: 32px;
    margin-right: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 121.72px;
}

.slogan{
    display: flex;
    justify-content: flex-end;
}

.slogan h2{
    color: #3F5D45;
    font-size: 24px;
    line-height: 1.5;
    writing-mode:vertical-rl;
}

.statement{
    text-align: right;
    color: #3F5D45;
    margin-bottom: 30px;
}
.mb-30{
    margin-bottom: 30px;
}

.mb-60{
    margin-bottom: 60px;
}

.mr-20{
    margin-right: 20px;
}

.mr-60{
    margin-right: 60px;
}